
#header_search_form,
#header_search_form input {
    position: relative;
}

#cm-live-search-box {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    padding: 15px;
    box-shadow: 0 5px 7px #999;
}

#cm-live-search-box .fa-close {
    display: block;
    position: absolute;
    right: 6px;
    top: 0;
    font-size: 15px;
    z-index: 9999;
    cursor: pointer;
    color: #d9534f;
}

#cm-live-search-box .search_result_image,
#cm-live-search-box .search_result_image * {
    max-width: 50px;
    height: 50px;
}
#cm-live-search-box .search_result {
    margin-bottom: 5px;
    padding-bottom: 0;
}
